  $cards-container-background: black;
  $aside-background: #19292A;
  $aside-background__button: lighten(#19292A, 40%);
  $aside-background__button--hover: lighten(#19292A, 70%);
  $margin-top: 20px;
